<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Robotics Within Your Reach</h2>
                <hr class="light">
                <p class="text-faded">Rocket-H is here to launch you into the vast expanse of what robotics has to offer. We go that extra light-year by delving into the latest innovations, optimizing our solutions, crafting modular, future-proof code and actively contributing to the open source community. By focusing exclusively on robotics and AI solutions, we ensure that our deliverables meet the top standards in the industry. </p>

                <p class="text-faded"> Take a look at our services, grab a space suit and climb aboard!</p>
            </div>
        </div>
    </div>
</section>
