<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Propel your robotics ideas at rocket speed</h1>
            <hr>
            <p>Whether you're starting a new project or are working with legacy systems, Rocket-H can help speed up your deployment with modern, professionally vetted, industry tested robotics and AI solutions </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Blast Off!</a>
        </div>
    </div>
</header>
