<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What We Offer</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>ROS and ROS2 development</h3>
                    <p class="text-muted">Be it the complex navigation stack, ros control, or sensor driver development, we've got it all covered.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Algorithms</h3>
                    <p class="text-muted">Vision, PCL, ML, AI, Path planning, Audio processing, Target tracking, PID, add any other algorithmic jargon used in robotics and we're up for the challenge.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Simulation</h3>
                    <p class="text-muted">We've worked on simulation a lot. And by a lot we mean Gazebo, V-REP, WeBots, Unreal Engine, and Unity to name a few.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>AI</h3>
                    <p class="text-muted">I know we've mentioned AI in algorithms, but with the latest developments in LLMs we've decided to give AI its very own placeholder. </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <p class="text-muted"> If you don't see what you need here, feel free to reach out. We're always excited to work on new technologies in the robotics and AI space. </p>
        </div>
    </div>
</section>
